<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form [formGroup]="orderForm" novalidate>

      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <!-- Dados Pessoais -->
      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p class="lead">Seus Dados:</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')"><i class="fa fa-remove"></i> E-mails não coferem </span>
        </div>


        <div class="col-sm-6 col-xs-12">
            <mt-input-container errorMessage="Campo obrigatório e com 5 carcteres" label="Nome">
              <input formControlName="name" class="form-control" autocomplete="off" placeholder="Nome" >
            </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
            <mt-input-container errorMessage="E-mail inválido" label="E-mail">
                <input formControlName="email" class="form-control" autocomplete="off" placeholder="E-mail" >
            </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
            <mt-input-container errorMessage="E-mail diferente" label="Confirmação de E-mail">
                <input formControlName="emailConfirmation" class="form-control" autocomplete="off" placeholder="Confirmação de E-mail" >
            </mt-input-container>
        </div>
      </div>

      <!-- Dados para entrega -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">

          <mt-input-container errorMessage="Campo obrigatório e com 5 carcteres" label="Endereço">
            <input formControlName="address" class="form-control" autocomplete="off" placeholder="Endereço" >
          </mt-input-container>

        </div>
        <div class="col-sm-3 col-xs-6">

            <mt-input-container errorMessage="Campo obrigatório e somente números" label="Número">
                <input formControlName="number" class="form-control" autocomplete="off" placeholder="Número" >
            </mt-input-container>

        </div>
        <div class="col-sm-3 col-xs-6">
            <mt-input-container errorMessage="" label="Complemento">
                <input formControlName="optionalAddress" class="form-control" autocomplete="off" placeholder="Complemento">
            </mt-input-container>

          </div>
      </div>

      <!-- Lista de Itens do Pedido -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>

        <mt-order-items
          [items]="cartItens()"
          (increaseQty)="increaseQty($event)"
          (decreaseQty)="decreaseQty($event)"></mt-order-items>

      </div>

      <div class="row">

        <!-- Formas de Pagamento -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio [options]="paymentOptions" formControlName="paymentOption" ></mt-radio>
          </div>

        </div>

        <!-- Frete e Total -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <mt-delivery-costs [delivery]="delivery" [itemsValue]="itemsValue()" ></mt-delivery-costs>

        </div>

      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success pull-right"
          (click)="checkOrder(orderForm.value)"
          [disabled]="!orderForm.valid || cartItens().length === 0">
            <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
